body{
  background: url(../assets/background.png) no-repeat;
  background-size: cover;
  background-color: rgb(204, 200, 200);
}
.companyDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tableContainer {
    position: relative;
  }
  
  .addButtonContainer {
    position: absolute;
    top: 100px;
    right: 0;
    margin: 10px;
  }

 .companyDiv .companyTable{
    width: 900px;
    margin-top: 150px;
  }

  .inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(58, 45, 45, 0.2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

.inputbox label{
    margin-left: 10px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 4px;
}