.home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    
  }
  
  .dataCard {
    background-color: #efefef;
    border-radius: 0.5em;
    box-shadow: rgba(244, 244, 245, 0.2) 0px 8px 24px;
    padding: 1em;
  }
  
  .revenueCard {
    width: 92%;
    height: 20rem;
  }

  .revenueCard .lastCompany{
    width: 30%;
    margin-left: 500px;
    margin-top: 5px;
  }

  .revenueCard h3{
    text-align: center;
    padding: 2px;
  }
  
  .customerCard {
    width: 50%;
    height: 20rem;
  }
  
  .categoryCard {
    width: 40%;
    height: 20rem;
  }