@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-bottom: 60px;

}
.container form{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    padding-top: 160px;
    width: 600px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.container form .inputBox{
    margin-top: 15px;
}

.container form .inputBox span{
    display: block;
    color: #999;
    padding-bottom: 5px;
}

.container form .inputBox input {
    width: 100%;
    border: 1px solid rgba(105, 42, 2, 0.4);
    padding: 10px;
    border-radius: 10px;
    color: #444;
}

.container form .flexbox{
    display: flex;
    gap: 15px;
}

.container form .flexbox .inputBox {
    flex: 1 1 150px;
}

.container form .submit-btn{
    width: 100%;
    background: linear-gradient(45deg, #0e1114,  #e2722c);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms all;
}

.container form .submit-btn:hover {
    opacity: 0.8;
    letter-spacing: 2px;
}

.container .card-container{
    width: 400px;
    height: 250px;
    position: relative;
    margin-bottom: -150px;
}
.container .card-container .front {
    /* z-index: 99; */
    margin-top: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #0e1114,  #e2722c);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: 400ms all ease-out;
    transform: perspective(1000px) rotateY("0deg");
}

.container .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 0px; */
}

.container .card-container .front .image .img{
    height: 50px;
}

.container .card-container .front .card-number-box {
    color: #fff;
    padding: 20px 0px;
    font-size: 22px;
}

.container .card-container .front .flexbox {
    display: flex;
}

.container .card-container .front .flexbox .box {
    font-size: 15px;
    color: #fff;
}

.container .card-container .front .flexbox .box:nth-child(1) {
    margin-right: auto;
}

.container .card-container .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,  #0e1114,  #e2722c);
    border-radius: 5px;
    padding: 20px 0;
    transition:  400ms transform ease-out;
    text-align: right;
    backface-visibility: hidden;
    transform: perspective(1000px) rotateY(-180deg);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.container .card-container .back .box{
   padding: 0px 20px;
}

.container .card-container .back .box span{
    color: #fff;
    font-size: 15px;
}

.container .card-container .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
}

.container .card-container .back .box  img{
    margin-top: 30px;
    height: 30px;
}

.container .card-container .back .stripe {
    background-color: #000;
    width: 100%;
    margin: 10px 0px;
    height: 50px;
}
